@model PagedList.IPagedList<WebBanHang.Models.Order>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/Admin/order_admin.css" rel="stylesheet" />

<div class="carcc-card">

    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            @*<h3 class="mb-1 fw-bold" style="color: #111827;">Đơn hàng</h3>*@
            <i class="text-muted mb-0" style="font-size: 1.20rem;">Quản lý danh sách đơn hàng của hệ thống</i>
        </div>
        <div class="d-flex gap-2">
            <button class="carcc-btn-outline"><i class="fa-solid fa-download me-1"></i> Xuất Excel</button>
            <a href="#" class="ir-btn-add"><i class="fa-solid fa-plus me-1"></i> Tạo Đơn Mới</a>
        </div>
    </div>

    <!-- TABS -->
    <div class="carcc-tabs mb-4">
        <a href="javascript:void(0)" class="active" style="cursor: default; color: #1f2937; border-bottom-color: #1f2937;">
            Tất cả <span class="badge-count">@Model.TotalItemCount</span>
        </a>
    </div>

    <!-- GỌI PARTIAL VIEW (Bảng & Phân trang) -->
    <div id="list-order-container">
        @Html.Partial("PVListOrder", Model)
    </div>

</div>