@model WebBanHang.Models.ViewModel.HomeProductVM

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutDivMain.cshtml";
}

<h2>Product</h2>
<html>
<body>
    @Html.Partial("PVFeatureProduct", Model)

    @Html.Partial("PVNewProduct", Model)
</body>
</html>
